/*global*/
body{
  background-color: rgb(251, 244, 241);
  font-family: 'Courgette', cursive;
font-weight: 400;
  color: black;
  font-size: 1em;
  
}

header, h1{
  color: rgb(76, 0, 255);
  text-align: center;
  padding-top: 3%;
  font-size:3rem ;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  letter-spacing: 3px;
}

h2{
  color: rgb(76, 0, 255);
  text-align: center;
  padding-top: 3%;
  font-size:2rem ;
  font-family: 'Cinzel', serif;
  font-weight:semiBold 800;
  letter-spacing: 3px;   
}
footer {
  height: 50px;
  margin-top: -50px;
  text-align: center;
}

/*utilities*/
button{
  border: solid 2px #45a29e;
  border-radius: 15px;
  background-color: #0b0c10;
  color: #c5c6c7;
  background: linear-gradient(to left, #0b0c10 50%, #b9756c 50%) right;
  background-size: 200%;
  transition: .2s ease-out;
  margin: 20px;
  width: 40%;
  font-size: 2em;
  font-family:  'Cinzel', serif;
  letter-spacing: 3px;
}

button:hover{
  background-color: #45a29e;
  background-position: left;
  font-size: 3em;
}

.blue{
  color: #f23022;
  text-align: center;
  font-size: 2.3em;
  font-family: 'Cinzel', serif;
  letter-spacing: 5px;
}
.center{
  text-align: center;
  list-style-position: inside;
}
/*Results*/
#results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #496e9b;
  margin: 10%;
}

.result{
  font-size: 2em;
  margin-left: 30%;
  text-align: center;
  justify-content: center ;
  width: 40%;
  border: 1px dotted black;
}